{% extends "./base.html" %}
{% load static %}


{% block content %}

    <title>Storefront!</title>

    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6-md mx-auto">
                <h4>myDrip! See what fits you.</h4>
                <br>

                <p class="lead text-muted">
                    Browse our extensive collection
                </p>
                <br>
                <p class="lead"> Not a member yet?</p>
                <a href="#" class="btn btn-primary my-1">Sign Up Now</a>
            </div>
        </div>
    </section>

       <!-- All products section -->
      
       <div class="album py-5 bg-light">
        
        <div class="container">
    
          <div class="pb-3 h5"> All Products </div>


          <hr>

          <br>
          

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">    
            
            {% for product in all_products %}

                <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" alt="{{ product.title }}" src="{{ product.image.url }}">
                    <div class="card-body">
                    <p class="card-text">
                        <a class="text-info text-decoration-none" href="{{ product.get_absolute_url }}"> {{ product.title | capfirst }} </a>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted"> ₹ {{product.price}} </h6>
                    </div>
                </div>            
                </div>
            
            {% endfor %}
            
          </div>

        </div>
      </div>

{% endblock %}